<footer>
<p>
  © 2020 <a href="http://glebkalinin.ru/">Глеб Калинин</a>, <a href="https://officemeditation.ru/">Мария Ерунова</a>. Есть вопросы? Напишите нам в Whatsapp +7 965 161 37 84 или Telegram @habite01.
</p>
</footer>
