<header>
  <ul class="nav">
    <li>
      <a href="#about">о курсе</a>
    </li>
    <li>
      <a href="#price">цена</a>
    </li>
    <li>
      <a href="#feedback">отзывы</a>
    </li>
    <li>
      <a href="#signup">записаться</a>
    </li>

  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
